.ProductContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProductTable {
  margin: 30px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
