$blue: #228be6; // 주석 선언

.Button {
  //   display: inline-flex;
  background: $blue; // 주석 사용
  color: white;
  font-weight: bold;
  outline: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  height: 2.5rem;
  width: 10rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;

  &:hover {
    background: lighten($blue, 10%); // 색상 10% 밝게
  }

  &:active {
    background: darken($blue, 10%); // 색상 10% 어둡게
  }
}
